<select id="legislativeDDL" class="form-control"  onchange="onLegislativeChange();"></select>
<script type="text/javascript">
		$(function () {
			$.ajax({
				url: "/common/GetLegislatives",
				type: "Get",
				success: function (data) {
					var s = '<option value="">Select</option>';
					for (var i = 0; i < data.rows.length; i++) {
						s += '<option value="' + data.rows[i].legislative + '">' + data.rows[i].legislative + '</option>';
					}
					$("#legislativeDDL").html(s);
				}
			});
		});
</script>
