<select id="parliamentDDL" class="form-control" onchange="onParliamentChange();"></select>
<script type="text/javascript">
		$(function () {
			$.ajax({
				url: "/common/GetParliament",
				type: "Get",
				success: function (data) {
					var s = '<option value="">Select</option>';
					for (var i = 0; i < data.rows.length; i++) {
						s += '<option value="' + data.rows[i].parliament + '">' + data.rows[i].parliament + '</option>';
					}
					$("#parliamentDDL").html(s);
				}
			});
		});
</script>
