<select id="stateDDL" class="form-control" onchange="onStateChange();"></select>
<script type="text/javascript">
		$(function () {
			$.ajax({
				url: "/common/GetStates",
				type: "Get",
				success: function (data) {
					var s = '<option value="">Select</option>';
					for (var i = 0; i < data.rows.length; i++) {
						s += '<option value="' + data.rows[i].ID + '">' + data.rows[i].state + '</option>';
					}
					$("#stateDDL").html(s);
				}
			});
		});
</script>